<% if session[:error] %>
  <p class="alert"><%= session.delete(:error) %></p>
<% end %>

<% if session[:success] %>
  <p class="alert"><%= session.delete(:success) %></p>
<% end %>

<ul> 
  <% @files.each do |file| %>
 	<li><a href="/<%= file %>" class="no-decoration"><%= file %></a>&nbsp;
 		<a href="/<%= file %>/edit">Edit</a>
 	</li>
  <% end %>
</ul>

<a href="/new">New Document</a>