<% if session[:message] %>
  <p class="alert"><%= session.delete(:message) %></p>
<% end %>

<ul> 
  <% @files.each do |file| %>
 	<li><a href="/<%= file %>" class="no-decoration"><%= file %></a>&nbsp;
 		<a href="/<%= file %>/edit">Edit</a>
 		<form action="<%= file %>/delete" method="post">
 			<button type="submit">Delete</button>
 		</form>
 	</li>
  <% end %>
</ul>

<a href="/new">New Document</a>